<a href="https://colab.research.google.com/github/bhojwaniayush/AICS/blob/main/AICS%20Prac%203.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from sklearn import linear_model
from google.colab import drive 
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [10]:
dataf = pd.read_csv('gdrive/My Drive/50_Startups.csv')
dataf.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [11]:
new_df = dataf
new_df['State'] = new_df['State'].map({'New York':5,'California':10,'Florida':15})
new_df.head()

   R&D Spend  Administration  Marketing Spend  State     Profit
0  165349.20       136897.80        471784.10      5  192261.83
1  162597.70       151377.59        443898.53     10  191792.06
2  153441.51       101145.55        407934.54     15  191050.39
3  144372.41       118671.85        383199.62      5  182901.99
4  142107.34        91391.77        366168.42     15  166187.94

In [12]:
model = linear_model.LinearRegression()
model.fit(dataf.drop('Profit',axis='columns').values,dataf.Profit)

LinearRegression()

In [13]:
print("Expected Profit is",(float(model.predict([[160000,90000,350000,11]]))))

Expected Profit is 186185.21472179756