<a href="https://colab.research.google.com/github/bhojwaniayush/AICS/blob/main/AICS%20Prac%204.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from sklearn import linear_model
from google.colab import drive 
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [2]:
df = pd.read_csv('gdrive/My Drive/Social_Network_Ads.csv')
df.head()

   Age  EstimatedSalary  Purchased
0   19            19000          0
1   35            20000          0
2   26            43000          0
3   27            57000          0
4   19            76000          0

In [3]:
new_df = df.drop('Purchased',axis='columns')
new_df.head()

   Age  EstimatedSalary
0   19            19000
1   35            20000
2   26            43000
3   27            57000
4   19            76000

In [4]:
Purchased = df.Purchased
Purchased.head()

0    0
1    0
2    0
3    0
4    0
Name: Purchased, dtype: int64

In [12]:
logr = linear_model.LogisticRegression()
logr.fit(new_df.values,Purchased)

LogisticRegression()

In [14]:
predicted = logr.predict([[47, 25000]])
print(predicted)

[0]